
<% if notice then %>
    <div class="layout-box-info">
        <div class="layout-box__first-wrap">
            <p class="mod-p-default"><%= notice %></p>
        </div>
    <!--/.layout-box--></div>
<% end %>

<%= form_for(@blog, url:choose_new_or_edit) do |f| %><%# @blog(コントローラーに定義した変数)をform_forにわたす。中身はfで引き出す %>
  <%= f.error_messages! %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <div class="layout-btn">
    <%= f.submit '投稿', class: 'mod-btn-default vr-small' %>
  </div>
<% end %>


<div class="layout-btn">
  <%= link_to "ブログ一覧に戻る", blogs_path, class: 'mod-btn-back vr-small vr-width-auto' %>
</div>