<p id="notice"><%= notice %></p>

<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

    <div class="blog-text">
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @blog.title %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @blog.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @blog.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
    
    <% if current_user.id == @blog.user_id %>
      <p class="mod-p text-center"><%= link_to '編集', edit_blog_path(@blog) %></p>
    <% end %>
    <p class="mod-p text-center"><%= link_to '戻る', blogs_path %></p>

    
    <span class="adj-layout-end"> </span>
  </div>
</section>
