
<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

    <div class="mod-heading-lv1">
      <h1 class="heading__h-element">
          <span class="heading__span">ユーザー登録情報</span>
      </h1>
    <!--/.mod-heading--></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class="layout-form-default">
    <ul class="layout-form__wrap">
  <%= f.error_messages! %>

        <li class="layout-form__group">
            <%= f.label :email,class: 'layout-form__label' %>
            <div class="layout-form__form">
              <%= f.email_field :email, autofocus: true, class: 'mod-formtype-text' %>
            </div>
        </li>

        <li class="layout-form__group">
            <%= f.label :名前,class: 'layout-form__label' %>
            <div class="layout-form__form">
              <%= f.text_field :name, class: "mod-formtype-text" %>
            </div>
        </li>

    <% if @user.provider.blank? %>
        <li class="layout-form__group">
          <%= f.label :password,class: 'layout-form__label' %>
          <div class="layout-form__form">
            <%= f.password_field :password, autocomplete: "off", class: 'mod-formtype-text' %>
          </div>
        </li>
        <li class="layout-form__group">
          <%= f.label :password_confirmation,class: 'layout-form__label' %>
          <div class="layout-form__form">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'mod-formtype-text' %>
          </div>
        </li>
        <li class="layout-form__group">
          <%= f.label :current_password,class: 'layout-form__label' %>
          <div class="layout-form__form">
            <%= f.password_field :current_password, autocomplete: "off", class: 'mod-formtype-text' %>
          </div>
        </li>
    <% end %>

        <li class="layout-form__group">
            <div class="layout-form__label">プロフィール画像</div>
            <div class="layout-form__form">
              <p class="mod-p-default"><%= profile_img(@user,'mod-img-profile-large') if profile_img(@user) %></p>
              <%= f.file_field :avatar %>
              <%= f.hidden_field :avatar_cache %>
            </div>

        </li>
    </ul>
<!--/.layout-form --></div>

  <div class="layout-btn">
      <%= f.submit "更新", class: "mod-btn-default" %>
  <!--/layout-btn--></div>

<% end %>

    <span class="adj-layout-end"> </span>
  </div>
</section>

<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

    <div class="mod-heading-lv3">
      <p class="heading__h-element">
          <span class="heading__span">アカウントを削除</span>
      </p>
    <!--/.mod-heading--></div>

  <div class="layout-btn">
      <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'mod-btn-warning' %>
  <!--/layout-btn--></div>

    <span class="adj-layout-end"> </span>
  </div>
</section>


<section class="layout-section-bottom">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

<div class="layout-btn">
    <%= link_to "ホームに戻る", root_path, class: 'mod-btn-back vr-width-narrow vr-small' %>
</div>

    <span class="adj-layout-end"> </span>
  </div>
</section>