<span class="adj-layout-first"> </span>


<div class="layout-box-login">
    <div class="layout-box__first-wrap">
        <div class="mod-heading-login">
            <h1 class="heading__h-element">
                <span class="heading__span">サインイン</span>
            </h1>
        <!--/.mod-heading-lv1--></div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "layout-form-tag") do |f| %>
              <%= f.error_messages! %>

          <div class="layout-form-login">
              <ul class="layout-form__wrap">
                  <li class="layout-form__group">
                      <div class="layout-form__mod-form">
                <%= f.email_field :email, autofocus: true, class: 'mod-formtype-text', placeholder: "メールアドレス" %>
                      </div>
                  </li>
                  <li class="layout-form__group">
                      <div class="layout-form__mod-form">
                        <%= f.text_field :name, class: "mod-formtype-text", placeholder: "名前" %>
                      </div>
                  </li>
                  <li class="layout-form__group">
                      <div class="layout-form__mod-form">
                <%= f.password_field :password, autocomplete: "off", class: 'mod-formtype-text', placeholder: "パスワード" %>
                      </div>
                  </li>
                  <li class="layout-form__group">
                      <div class="layout-form__mod-form">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'mod-formtype-text', placeholder: "パスワード（確認）" %>
                      </div>
                  </li>
              </ul>
          <!--/.layout-form --></div>

          <div class="layout-btn">
              <%= f.submit "サインイン", class: "mod-btn-default vr-width-full" %>
          <!--/layout-btn--></div>
        <% end %>

    </div>
<!--/.layout-box-login--></div>

<div class="layout-box-login-option">
    <div class="layout-box__first-wrap">
        <%= render "devise/shared/links" %>
    </div>
<!--/.layout-box--></div>

<span class="adj-layout-end"> </span>