<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

        <% if notice then %>
            <div class="layout-box-info">
                <div class="layout-box__first-wrap">
                    <p class="mod-p-default"><%= notice %></p>
                </div>
            <!--/.layout-box--></div>
        <% end %>

        <div class="layout-btn">
            <%= link_to "トピックを作成する", new_topic_path, class: 'mod-btn-default vr-small' %>
        </div>





        <div class="mod-textbox-topic-list">
            <% @topics.each do |topic| %>
                <div class="textbox__content">
                    <div class="mod-dropdown-action-menu">
                        <div class="dropdown__content-wrap">
                            <span class="dropdown__trigger js-show-trigger">
                                
                            </span>
                            <div class="dropdown__content">
                                <div class="layout-btn">
                                    <%= link_to "編集", edit_topic_path(topic.id), class: 'mod-btn-quiet vr-small vr-width-auto' %>
                                    <%= link_to "削除", topic_path(topic), method: :delete, data: {confirm:'本当に削除していいですか？'}, class: 'mod-btn-warning vr-small vr-width-auto' %>
                                </div>

                            </div>
                        </div>
                    <!--/.mod-dropdown--></div>
                    <div class="textbox__content-inner">
                        <div class="textbox__img-wrap">
                            <%= profile_img(topic.user) %>
                        </div>
                        <div class="textbox__title-wrap">
                            <%= topic.user.name %><br>
                            <span class="util-font-s util-font-quiet"><%= topic.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[topic.created_at.wday]})") %></span>

                        </div>
                        <div class="textbox__description-wrap">
                            <p class="mod-p">
                                 <span class="util-font-bold"><%= topic.title %></span>
                            </p>
                            <%= topic.content %>
                            <%= link_to "more", topic_path(topic) %>
                        </div>
                        <div class="textbox__description-wrap">

                        </div>
                    <!--/.textbox__content-inner--></div>
                <!--/.textbox__content --></div>
        <% end %>
    <!--/.mod-textbox --></div>

    <span class="adj-layout-end"> </span>
  </div>
</section>
