
<% if notice then %>
    <div class="layout-box-info">
        <div class="layout-box__first-wrap">
            <p class="mod-p-default"><%= notice %></p>
        </div>
    <!--/.layout-box--></div>
<% end %>

<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

    <div class="layout-box-default">
        <div class="layout-box__first-wrap">

          <div class="mod-heading-lv2">
            <h1 class="heading__h-element">
                <span class="heading__span"><%= @topic.title %></span>
            </h1>
          <!--/.mod-heading--></div>
          <p class="mod-p-default"><%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %></p>
          <p class="mod-p-default">
            <%= @topic.content %>
          </p>

        </div>
    <!--/.layout-box--></div>

    <div class="layout-box-default">
      <div class="layout-box__first-wrap">
          <div class="mod-heading-lv4">
            <div class="heading__h-element">
                <span class="heading__span">コメント一覧</span>
            </div>
          <!--/.mod-heading--></div>
          <%= render partial: 'topic_comments/form', locals: { comment: @comment, topic: @topic } %>
          <% if current_user.id == @topic.user_id %>
            <p class="mod-p text-center"><%= link_to '編集', edit_topic_path(@topic) %></p>
          <% end %>

          <div id="comments_area">
            <%= render partial: 'topic_comments/index', locals: { comments: @comments, topic: @topic } %>
          </div>

      </div>
    <!--/.layout-box--></div>

    <div class="layout-btn">
        <%= link_to "ホームに戻る", root_path, class: 'mod-btn-back vr-small vr-width-auto' %>
    </div>

    <span class="adj-layout-end"> </span>
  </div>
</section>
