<div class="layout-body__body-content-wrap">
  <div class="layout-body__main-content-wrap">

<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

<% if notice then %>
    <div class="layout-box-info">
        <div class="layout-box__first-wrap">
            <p class="mod-p-default"><%= notice %></p>
        </div>
    <!--/.layout-box--></div>
<% end %>

    <div class="layout-box-default">
        <div class="layout-box__first-wrap">

                        <% if current_user.id == @topic.user_id %>
                            <div class="mod-dropdown-action-menu">
                                <div class="dropdown__content-wrap">
                                    <span class="dropdown__trigger js-show-trigger">
                                        
                                    </span>
                                    <div class="dropdown__content">
                                        <div class="layout-btn">
                                            <%= link_to "編集", edit_topic_path(@topic.id), class: 'mod-btn-quiet vr-small vr-width-auto' %>
                                            <%= link_to "削除", topic_path(@topic), method: :delete, data: {confirm:'本当に削除していいですか？'}, class: 'mod-btn-warning vr-small vr-width-auto' %>
                                        </div>

                                    </div>
                                </div>
                            <!--/.mod-dropdown--></div>
                        <% end # current_user.id == topic.user_id %>

          <div class="mod-heading-lv2">
            <h1 class="heading__h-element">
                <span class="heading__span"><%= @topic.title %></span>
            </h1>
          <!--/.mod-heading--></div>
          <p class="mod-p-default"><span class="util-font-bold"><%= link_to @topic.user do %><%= profile_img(@topic.user,'mod-img-profile-xsmall') %><% end %></span> <%= link_to @topic.user.name, @topic.user %></span> 
          <span class="util-font-s util-font-quiet"><%= @topic.created_at.to_s(:default) %></span></p>
          <p class="mod-p-default">
            <%= @topic.content %>
          </p>

        </div>
    <!--/.layout-box--></div>

    <div class="layout-box-default">
      <div class="layout-box__first-wrap">
          <div class="mod-heading-lv4">
            <div class="heading__h-element">
                <span class="heading__span">コメント一覧</span>
            </div>
          <!--/.mod-heading--></div>
          <%= render partial: 'topic_comments/index', locals: { comments: @comments, topic: @topic } %>

          <%= render partial: 'topic_comments/form', locals: { comment: @comment, topic: @topic } %>

      </div>
    <!--/.layout-box--></div>

    <div class="layout-btn">
        <%= link_to "ホームに戻る", root_path, class: 'mod-btn-back vr-small vr-width-auto' %>
    </div>

    <span class="adj-layout-end"> </span>
  </div>
</section>

  </div>

  <div class="layout-body__side-content-wrap">
    <%= render partial: 'application/sidebar_1' %>
  </div>

  <div class="layout-body__side-content-wrap">
    <span class="adj-layout-first"> </span>
    <%= render partial: 'application/sidebar_2' %>
  </div>

</div>
