

<% if user_signed_in? %>

<div class="layout-list-sidebar">
    <ul class="layout-list__ul">


        <li class="layout-list__li">

    <div class="layout-box-notice">
        <div class="layout-box__first-wrap">

    <div class="mod-heading-lv6">
      <p class="heading__h-element">
          <span class="heading__span"><i class="fa fa-exclamation-circle"></i> 友達申請があります</span>
      </p>
    <!--/.mod-heading--></div>

    <div class="mod-textbox-sidebar-userlist">
        <% current_user.followers.each do |user| %>
            <% if !followed_by_current_user?(user,current_user) %>
              <div class="textbox__content">
                  <div class="textbox__content-inner">
                      <div class="textbox__img-wrap"><%= link_to user do %><%= profile_img(user,'mod-img-profile-xsmall') %><% end %>
                      </div>
                      <div class="textbox__title-wrap">
                        <span class="util-font-s"><%= link_to user.name, user %></span>
                      </div>
                      <div class="textbox__description-wrap">
                        <%= render partial: 'users/follow_form', locals: { user: user } %>
                      </div>
                  <!--/.textbox__content-inner--></div>
              <!--/.textbox__content --></div>
            <% end %>
        <% end %>
    <!--/.mod-textbox --></div>
        </div>
    <!--/.layout-box--></div>

</li>

<li class="layout-list__li">

    <div class="layout-box-notice">
        <div class="layout-box__first-wrap">

    <div class="mod-heading-lv6">
      <p class="heading__h-element">
          <span class="heading__span">友達申請中です</span>
      </p>
    <!--/.mod-heading--></div>
    <div class="mod-textbox-sidebar-userlist">
        <% current_user.followed_users.each do |user| %>
            <% if !followed_by_other_user?(user,current_user) %>
              <div class="textbox__content">
                  <div class="textbox__content-inner">
                      <div class="textbox__img-wrap"><%= link_to user do %><%= profile_img(user,'mod-img-profile-xsmall') %><% end %>
                      </div>
                      <div class="textbox__title-wrap">
                        <span class="util-font-s"><%= link_to user.name, user %></span>
                      </div>
                      <div class="textbox__description-wrap">
                        <%= render partial: 'users/follow_form', locals: { user: user } %>
                      </div>
                  <!--/.textbox__content-inner--></div>
              <!--/.textbox__content --></div>
            <% end %>
        <% end %>
    <!--/.mod-textbox --></div>

        </div>
    <!--/.layout-box--></div>
</li>


<li class="layout-list__li">
    <div class="layout-box-sidebar-default">
        <div class="layout-box__first-wrap">

    <div class="mod-heading-lv6">
      <p class="heading__h-element">
          <span class="heading__span">友達リスト</span>
      </p>
    <!--/.mod-heading--></div>
    <% unless current_user.followers.length == 0 %>
        <div class="mod-textbox-sidebar-userlist">
            <% current_user.followers.each do |user| %>
                <% if followed_by_current_user?(user,current_user) %>
                  <div class="textbox__content">
                      <div class="textbox__content-inner">
                          <div class="textbox__img-wrap"><%= link_to user do %><%= profile_img(user,'mod-img-profile-xsmall') %><% end %>
                          </div>
                          <div class="textbox__title-wrap">
                            <span class="util-font-s"><%= link_to user.name, user %></span>
                          </div>
                      <!--/.textbox__content-inner--></div>
                  <!--/.textbox__content --></div>
                <% end %>
            <% end %>
        <!--/.mod-textbox --></div>
    <% else %>
        <p class="mod-p-default">まだ友達はいません。</p>
    <% end %>

        </div>
    <!--/.layout-box--></div>

</li>

<% if current_user.followed_users != User.users_except_myself(current_user.id).length %>
<li class="layout-list__li">

    <div class="layout-box-sidebar-default">
        <div class="layout-box__first-wrap">

    <div class="mod-heading-lv6">
      <p class="heading__h-element">
          <span class="heading__span">もっと友達を増やしましょう</span>
      </p>
    <!--/.mod-heading--></div>
    <div class="mod-textbox-sidebar-userlist">
        <% User.users_except_myself(current_user.id).each do |user| %>
            <% if !followed_by_other_user?(user,current_user) && !followed_by_current_user?(user,current_user) %>
              <div class="textbox__content">
                  <div class="textbox__content-inner">
                      <div class="textbox__img-wrap"><%= link_to user do %><%= profile_img(user,'mod-img-profile-xsmall') %><% end %>
                      </div>
                      <div class="textbox__title-wrap">
                        <span class="util-font-s"><%= link_to user.name, user %></span>
                      </div>
                      <div class="textbox__description-wrap">
                        <%= render partial: 'users/follow_form', locals: { user: user } %>
                      </div>
                  <!--/.textbox__content-inner--></div>
              <!--/.textbox__content --></div>
            <% end %>
        <% end %>
    <!--/.mod-textbox --></div>

        </div>
    <!--/.layout-box--></div>

      <!--/layout-list__li--></li>
<% end #if current_user.followed_users != User.users_except_myself(current_user.id).length %>

</ul>
<!--/layout-list--></div>

<% end %>

<span class="adj-layout-end"> </span>

