<!DOCTYPE html>
<html lang="ja">
<head>
  <title>fabook</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0"><!--スマホ対応ある場合-->
  <!-- <link rel="canonical" href=""> -->
  <!--<link rel="icon" href="/icon/favicon.ico">
  <link rel="apple-touch-icon" href="/icon/icon.png">
  <link rel="alternate" type="application/rss+xml" href=""> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>

</head>
<body class="layout-body-default">

<header class="mod-header-c js-auto-header-wrap">
    <div class="header__first-wrap">
        <div class="header__primary-nav-wrap">
            <div class="header__logo">
                <!-- <a href="top.html"><img src="/assets/img/logo.png" alt="Logo"></a> -->
                <%= link_to "fabook", root_path %>
            </div>
            <div class="header__primary-nav">
                <ul class="header__primary-nav__menu-01">
                </ul>
                <ul class="header__primary-nav__menu-02">
                      <% if user_signed_in? %>
                      <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path  %></li>
                        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                      <% end %>
                    <% if user_signed_in? %>
                      <li class="vr-dropdown">
                          <a class="js-dropdown-trigger vr-dropdown-arrow" href="javascript:void(0)">
                            <%= profile_img(current_user,'mod-img-profile-xsmall') %> <%= current_user.name %>
                          </a>
                          <ul class="header__menu-child">
                            <li class="subelement">
                              <%= link_to 'マイページ', user_path(current_user) %>
                            </li>
                            <li class="subelement">
                              <%= link_to 'ユーザー登録情報', edit_user_registration_path %>
                            </li>
                            <li class="subelement">
                              <%= link_to '友達リスト', users_path %>
                            </li>
                            <li class="subelement">
                              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                            </li>
                          </ul>
                      </li>
                      <li class="vr-hide-sp"><%= link_to 'ホーム', root_path %></li>
                    <% end %>
                <!-- /header__regular-menu --></ul>
            <!-- /header__primary-nav --></div>
        <!-- /header__top-wrap --></div>
    <!-- /header__inner --></div>
<!-- /mod-header-default --></header>




  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
