<!DOCTYPE html>
<html lang="ja">
<head>
  <title>fabook</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0"><!--スマホ対応ある場合-->
  <!-- <link rel="canonical" href=""> -->
  <!--<link rel="icon" href="/icon/favicon.ico">
  <link rel="apple-touch-icon" href="/icon/icon.png">
  <link rel="alternate" type="application/rss+xml" href=""> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>

</head>
<body class="layout-body-default">

<header class="mod-header-c js-auto-header-wrap">
    <div class="header__first-wrap">
        <div class="header__primary-nav-wrap">
            <div class="header__logo">
                <!-- <a href="top.html"><img src="/assets/img/logo.png" alt="Logo"></a> -->
                <%= link_to "fabook", root_path %>
            </div>
            <div class="header__primary-nav">
                <ul class="header__primary-nav__menu-01">
                    <li><a href="top.html">menu1</a></li>
                    <li class="subelement js-recentPageChangeActive"><a href="list.html">menu2</a></li>
                </ul>
                <ul class="header__primary-nav__menu-02">
                    
                      <% if user_signed_in? %>
                      <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path  %></li>
                        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                      <% end %>

                      <li>
                        <%= link_to  notifications_index_path, class: "header__icon-link" do %>
                          <i class="fa fa-bell fa-1x"><span id="unread_count"><%= @notifications_count %></span></i>
                        <% end %>
                    </li>
                    <% if user_signed_in? %>
                      <li><%= current_user.name %></li>
                      <li class="vr-dropdown">
                          <a class="header__icon-link vr-hamburger-icon js-dropdown-trigger" href="javascript:void(0)">
                              <span class="header__icon-link-text">メニューリスト</span>
                              <span class="header__icon-hamburger">
                                  <em class="header__icon-hamburger-line" aria-hidden="true"></em>
                              </span>
                          </a>
                          <ul class="header__menu-child">
                              <li class="subelement js-recentPageChangeActive">
                                <%= link_to 'マイページ', edit_user_registration_path %>
                              </li>
                              <li class="subelement js-recentPageChangeActive">
                                <%= link_to "メッセージ", conversations_path %>
                              </li>
                              <li class="subelement js-recentPageChangeActive">
                                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                              </li>
                          </ul>
                      </li>
                    <% end %>
                <!-- /header__regular-menu --></ul>
            <!-- /header__primary-nav --></div>
        <!-- /header__top-wrap --></div>
    <!-- /header__inner --></div>
<!-- /mod-header-default --></header>




  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
